@{
    ViewData["Title"] = "Configuración | Perfíl";
}

<div class="text-center">
    <h1 class="display-4">Gnexx User profile configuratión</h1>
    <p>Aqui ira la configuración de aspectos del perfíl del usuario como informacion personal entre otros.</p>
</div>