@using Gnexx.Services.ViewModels.PostulationViewModel

@model PostulationViewModel


<form asp-controller="Post" asp-action="Create" method="post">
   
    <div>
        <label asp-for="Author_post"></label>
        <input asp-for="Author_post" />
    </div>

    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" />
    </div>

    <div>
        <label asp-for="Description_post"></label>
        <textarea asp-for="Description_post"></textarea>
    </div>

    <div>
        <label asp-for="Cv_post"></label>
        <input asp-for="Cv_post" />
    </div>

    <div>
        <label asp-for="Status"></label>
        <input asp-for="Status" />
    </div>

    <button type="submit">Publicar</button>
</form>