@using Gnexx.Services.ViewModels.PostulationViewModel
@model PostulationViewModel


<div class="container">
    <section class="team-request-formulary">
        <form asp-controller="Post" asp-action="Create" method="post">
            <div class="text">
                <h3>Creación de Postulación</h3>
                <p>Cree un un perfíl de para poder postularte.</p>
            </div>
            <div class="fields">
                <input asp-for="Author_post" placeholder="Autor" />
                <input asp-for="Category" placeholder="Categoria" />
                <textarea asp-for="Description_post" cols="30" rows="10" placeholder="Descripción"></textarea>
                <input asp-for="Cv_post" placeholder="Cv Post" />
                <div>
                    <label asp-for="Status"></label>
                    <input asp-for="Status" />
                </div>
            </div>

            <button type="submit" class="publish-btn">
                Publicar
            </button>
            <button type="submit" asp-controller="Post" asp-action="Index" method="post" class="publish-back">
                Cancelar
            </button>
        </form>
    </section>
</div>