<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gnexx</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/News/news-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Team/team-styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Gnexx.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <div class="menu-options">
                <a href="#" class="option nav-side-bar-button"><box-icon name='menu' color="#FFF"></box-icon></a>
            </div>
            <a href="#">
                <img src="~/assets/img/register-logo.png" alt="logo" class="logo">
            </a>
            <div class="configuration-options">
                <a href="#" class="option"><box-icon name='bell' type='solid' color="#FFF"></box-icon></a>
                <div class="menu-cont">
                    <button onclick="toggleDropdownOptions('profiledropdown_id')" class="user-auth-button">
                        <div class="user-post-info">
                            <img src="https://secure.virtualsiteinspections.com/images/default.png" alt="user profile"
                                 class="picture">
                            <div class="user-info">
                                <h4>@ViewBag.name</h4>
                                <span>@ViewBag.uname</span>
                            </div>
                        </div>
                        <box-icon name='chevron-down' color='#ffffff'></box-icon>
                    </button>
                    <ul class="dropdown-menu" id="profiledropdown_id" style="display: none;">
                        <li><a asp-controller="Settings" asp-action="UserProfile"><box-icon type='solid' name='pencil' color="#FFF"></box-icon> Editar Perfíl</a></li>
                        <li><a href="#"><box-icon name='slider-alt' color="#FFF"></box-icon> Preferencias</a></li>
                        <li><a asp-controller="Auth" asp-action="SignOut"><box-icon name='log-out' color='#fff'></box-icon> Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="side-bar">
            <div class="nav-side-bar">
                <button class="nav-side-bar-close-button">
                    <box-icon name='x' color="#fff"></box-icon>
                </button>
                <img src="~/assets/img/register-logo.png" alt="logo">

                <div class="nav-side-bar-links-list">
                    <ul class="navbar-container">
                        <li class="nav-link">
                            <a asp-controller="News" asp-action="Index">
                                <box-icon name='news' type='solid' color="#AAABB2"></box-icon>
                                Noticias
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Post" asp-action="Index">
                                <box-icon name='news' type='solid' color="#AAABB2"></box-icon>
                                Postulaciones
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller="Team" asp-action="Index">
                                <box-icon name='group' type='solid' color="#AAABB2"></box-icon>
                                Equipos
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-controller ="Community" asp-action="Index">
                                <box-icon type='solid' name='message-dots'
                                          color="#AAABB2"></box-icon>
                                Comunidad
                            </a>
                        </li>
                        <li>
                            <div class="separator"></div>
                        </li>

                        <li class="dropdown">
                            <button onclick="toggleElementVisibilityById('dropdown1')" class="dropdown-title">
                                Juegos
                                Populares
                            </button>
                            <ul class="dropdown-content" id="dropdown1">
                                <li class="dropdown-item"><a href="#">Valorant</a></li>
                                <li class="dropdown-item"><a href="#">League of Legends</a></li>
                                <li class="dropdown-item"><a href="#">Garena Free Fire</a></li>
                                <li class="dropdown-item"><a href="#">Minecraft</a></li>
                                <li class="dropdown-item"><a href="#">Brawlhalla</a></li>
                            </ul>
                        </li>

                        <li>
                            <div class="separator"></div>
                        </li>
                        <li class="dropdown">
                            <button onclick="toggleElementVisibilityById('dropdown2')"
                                    class="dropdown-title">
                                Categorias
                            </button>
                            <ul class="dropdown-content" id="dropdown2">
                                <li class="dropdown-item"><a href="#">Aventura</a></li>
                                <li class="dropdown-item"><a href="#">Zombies</a></li>
                                <li class="dropdown-item"><a href="#">Battle Royale</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-container">
                        <li class="nav-link">
                            <a asp-controller="Auth" asp-action="SignOut">
                                <box-icon name='log-out'
                                          color='#fff'></box-icon> Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="credits">
                    <p>© 2023 - Gnexx</p>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="overlay" id="overlay" onclick="hideConfirmDeletePost()"></div>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/Auth/script_register.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtén referencias al botón y al contenedor
            var toggleButton = document.getElementById("toggleButton");
            var navbar = document.querySelector(".navbar");

            // Agrega un evento de clic al botón
            toggleButton.addEventListener("click", function () {
                // Alternar la clase 'shrink' para cambiar el ancho con animación
                navbar.classList.toggle("active");
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
