@{
    @using Gnexx.Services.ViewModels.NewsViewModel;
    @model NewsViewModel;
}
<div class="container">
    <section class="news-publish-form">
        <form asp-controller="News" asp-action="Create" method="post">
            <input hidden asp-for="Author" type="text" name="Author" id="Author" value="@ViewBag.uname">
            <input hidden asp-for="UserID" type="text" name="UserID" id="UserID" value="@ViewBag.uid">
            <input hidden asp-for="Status" type="text" name="Status" id="Status" value="public">
            <div class="text">
                <h3>Añadir Noticia</h3>
                <p>Llene todos los campos para añadir una nueva noticia</p>
            </div>
            <div class="fields">
                <input asp-for="Title" type="text" name="title" id="title" placeholder="Título">
                <span asp-validation-for="Title"></span>
                <textarea asp-for="News_body" cols="30" rows="10" placeholder="Que estas pensando"></textarea>
                <span asp-validation-for="News_body"></span>
                <input asp-for="News_img" type="text" name="News_img" id="id_imagen_url" placeholder="url de imagen">
                <input asp-for="Source" type="text" name="source" id="source" placeholder="Fuente">
                <span asp-validation-for="Source"></span>
            </div>
            <button type="submit" class="publish-btn">
                Publicar
            </button>
            <button type="submit" asp-controller="News" asp-action="Index" method="post" class="publish-back">
                Cancelar
            </button>
            
        </form>
        
        
    </section>
</div>