@{
    ViewData["Title"] = "Detalles de Usuario";
}

<div class="container">
    <section class="team-request-formulary">
        <form asp-controller="User" asp-action="user_details" method="post">
            <div class="text">
                <h3>Información del usuario</h3>
                <p>Detalles del usuario.</p>
            </div>
            <div class="fields">

                <div>
                    <label></label>

                </div>
            </div>

            <a  asp-controller="News" asp-action="Index" class="publish-btn">
                Volver
            </a>

        </form>
    </section>
</div>