@{
    ViewData["Title"] = "Solicitud de equipo";
}

<div class="text-center">
    <h1 class="display-4">Gnexx Team request</h1>
    <p>Formulario de solicitud de equipo (solo moderadores(entrenadores) y administradores)</p>
</div>