@{
    ViewData["Title"] = "Noticias";
}

@*<a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Create">Agregar noticia</a>*@

@*<div class="news-main">
    <div class="publish-form">
        <div class="user-post-info">
            <img src="https://s3-alpha-sig.figma.com/img/c4a2/e6dc/d983add0f953bee807109bdb91b2ea51?Expires=1702252800&Signature=Nfl5X4VDPQ~NSkq7F2-ZmHiFVojzn9ax8l2TWRastRaxExk11mELB2tlpS~fXnNhJ03b-3Yr0eHDEQNvR1L1Wih6D5v6m~LkO3dXbENn5G0Q2g7DNzXMd5FjDon84hOWHZyhVdv2OIWo3kYKbYGFJeuz~SyCmovbJuLuOvwTwTbXfVbuTgypr4q-oaZXCUch~i1v3wB3~SjOI-6VDXCicd9T~vUwJc3JmKHsacIHHJIFx4iGnsVoKbYcvw-PqvNicnlgPiu9ogMf8NlNoPsJGZYu30TzJE0NzVUVXL0YqD0~mvQ6zxvbjMXPaxk14z4APSFfIkvbACUeCAXZa~Vg2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="#">
            <div class="user-info">
                Isael Diroche
                <div class="publish-privacity-dropdown">
                    <box-icon name='world' color="#FFF"></box-icon>
                    Publico
                    <box-icon class="este" type='solid' name='down-arrow' color="#AAABB2" width="10"></box-icon>
                </div>
            </div>
        </div>
        <div class="description-container">
            <textarea name="description-publish" id="id_description-publish" placeholder="Que estas pensando?"></textarea>
        </div>
        <div class="add-publish">
            <Button class="add-imagen-button">
                <box-icon name='image-add' color="#AAABB2"></box-icon>
                Foto/video
            </Button>
            <button type="submit" class="publish-button">
                Publicar
            </button>
        </div>
    </div>

    <div class="publish-card">
        <div class="publish-header">
            <div class="about-publish-user">
                <img src="https://s3-alpha-sig.figma.com/img/c4a2/e6dc/d983add0f953bee807109bdb91b2ea51?Expires=1702252800&Signature=Nfl5X4VDPQ~NSkq7F2-ZmHiFVojzn9ax8l2TWRastRaxExk11mELB2tlpS~fXnNhJ03b-3Yr0eHDEQNvR1L1Wih6D5v6m~LkO3dXbENn5G0Q2g7DNzXMd5FjDon84hOWHZyhVdv2OIWo3kYKbYGFJeuz~SyCmovbJuLuOvwTwTbXfVbuTgypr4q-oaZXCUch~i1v3wB3~SjOI-6VDXCicd9T~vUwJc3JmKHsacIHHJIFx4iGnsVoKbYcvw-PqvNicnlgPiu9ogMf8NlNoPsJGZYu30TzJE0NzVUVXL0YqD0~mvQ6zxvbjMXPaxk14z4APSFfIkvbACUeCAXZa~Vg2A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="#">
                <div class="user-date-info">
                    <p class="name">Isael Diroche</p>
                    <p>IsaelDD</p>
                    <p>·</p>
                    <p>Feb 24</p>
                </div>
            </div>
            <div class="other-options-publish">
                <box-icon name='dots-vertical-rounded' color="#AAABB2"></box-icon>
            </div>
        </div>
        <div class="publish-description">
            <p>Feugiat in fermentum posuere urna nec tincidunt praesent. Nunc lobortis mattis aliquam faucibus puru fermentum posuere urna nec tincidunt praesent.</p>
            <div class="imagen">
                <img src="https://images.unsplash.com/photo-1553492206-f609eddc33dd?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#">
            </div>
            <div class="reactions">
                <a href="#"><box-icon name='heart' color="#AAABB2"></box-icon></a>
                <a href="#"><box-icon name='message-rounded-dots' color="#AAABB2"></box-icon></a>
                <a href="#"><box-icon name='share-alt' color="#AAABB2"></box-icon></a>
                <a href="#"><box-icon name='trash' color="#AAABB2"></box-icon></a>
            </div>
        </div>
    </div>
</div>*@

                <section class="section-posts">
                    <div class="publish-form">
                        <div class="action-form">
                            <div class="user-post-info">
                <img src="https://secure.virtualsiteinspections.com/images/default.png" alt="user-imagen">
                                <div class="user-info">
                                    <span>Isael Diroche</span>
                                    <p>IsaelDD</p>
                                </div>
                            </div>

                            <button class="publish-button" id="openPopup">
                                Nueva Publicación
                            </button>
                        </div>
                    </div>

                    <div class="top-categories">
                        <h2>Categorias Destacadas</h2>
                        <div class="categories-container">
                            <div class="category">
                                1
                            </div>
                            <div class="category">
                                2
                            </div>
                            <div class="category">
                                3
                            </div>
                            <div class="category">
                                4
                            </div>
                            <div class="category">
                                5
                            </div>
                            <div class="category">
                                6
                            </div>
                        </div>
                    </div>

                    <div class="publish-card">
                        <div class="heading-post">
                            <div class="post-user-info">
                <img src="https://secure.virtualsiteinspections.com/images/default.png" alt="user-imagen">
                                <div class="info">
                                    <span class="full-name">Isael Diroche</span>
                                    <span class="username">IsaelDD</span>
                                    <p class="dot">·</p>
                                    <span class="date">7 Feb</span>
                                </div>
                            </div>
                            <div class="post-menu-options">
                                <a href="#">
                                    <box-icon name='dots-vertical-rounded' color='#ffffff'></box-icon>
                                </a>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>
                                Feugiat in fermentum posuere urna nec tincidunt praesent. Nunc lobortis mattis aliquam
                                faucibus puru fermentum posuere urna nec tincidunt praesent.
                            </p>
                            <img src="#" alt="post-imagen">
                            <div class="actions">
                                <a href="#">
                                    <box-icon name='heart' color='#ffffff'></box-icon>
                                </a>
                                <a href="#">
                                    <box-icon name='message-rounded-dots' color='#ffffff'></box-icon>
                                </a>
                                <a href="#">
                                    <box-icon name='share-alt' type='solid' color='#ffffff'></box-icon>
                                </a>
                                <a href="#">
                                    <box-icon name='trash' color='#ffffff'></box-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <aside class="aside-posts">
                    <div class="banner"></div>
                </aside>