@{
    ViewData["Title"] = "Noticias";
}

<section class="section-posts">
    <div class="publish-form">
                        <div class="action-form">
                            <div class="user-post-info">
                                <img src="https://secure.virtualsiteinspections.com/images/default.png" alt="user-imagen">
                                <div class="user-info">
                                    <span>@ViewBag.name</span>
                    <p>@ViewBag.uname</p>
                                </div>
                            </div>

                            <button class="publish-button" id="openPopup">
                                Nueva Publicación
                            </button>
                        </div>
                    </div>

    <div class="publish-card">
        <div class="heading-post">
            <div class="post-user-info">
                <img src="https://secure.virtualsiteinspections.com/images/default.png" alt="user-imagen">
                <div class="info">
                    <span class="full-name">Isael Diroche</span>
                    <span class="username">IsaelDD</span>
                    <p class="dot">·</p>
                    <span class="date">7 Feb</span>
                </div>
            </div>
            <div class="post-menu-options">
                <div class="dropdown">
                    <button class="options" onclick="openPostOptions()">
                        <box-icon name='dots-vertical-rounded' color='#ffffff'></box-icon>
                    </button>
                    <ul class="dropdown-menu" id="post_options">
                        <li><button id="openPopupEdit"><box-icon name='edit-alt' color='#ffffff'></box-icon> Editar</button></li>
                        <li>
                            <button onclick="showConfirmDeletePost()"><box-icon name='trash' color='#ffffff'></box-icon> Eliminar</button>
                        </li>
                        <li><button onclick="closePostOptions()"><box-icon name='share-alt' type='solid' color='#ffffff'></box-icon> Compartir</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="post-description">
            <p>
                Feugiat in fermentum posuere urna nec tincidunt praesent. Nunc lobortis mattis aliquam
                faucibus puru fermentum posuere urna nec tincidunt praesent.
            </p>
            <img src="#" alt="post-imagen">
            <div class="actions">
                <a href="#">
                    <box-icon name='heart' color='#ffffff'></box-icon>
                </a>
                <a href="#">
                    <box-icon name='message-rounded-dots' color='#ffffff'></box-icon>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="aside-posts">
    <div class="banner"></div>
</aside>
