@{
    ViewData["Title"] = "Noticias";
}


<section class="news-section">
    <h1 class="post-heading">Noticias de e-sports</h1>

    <div class="posts">
        <div class="card">
            <img src="https://dummyimage.com/500x500/243140/ededed.png&text=here+imagen" alt="#" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Competencia de Super Mario queda suspendida por la lluvia de esta mañana.</h5>
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu</p>
                <div class="news-date-publish">
                    <span>7 Junio 2023</span>
                </div>
                <div class="news-categories">
                    <a href="#">#tag1</a>
                    <a href="#">#tag2</a>
                    <a href="#">#tag3</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://dummyimage.com/500x500/243140/ededed.png&text=here+imagen" alt="#" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Competencia de Super Mario queda suspendida por la lluvia de esta mañana.</h5>
                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu</p>
                <div class="news-date-publish">
                    <span>7 Junio 2023</span>
                </div>
                <div class="news-categories">
                    <a href="#">#tag1</a>
                    <a href="#">#tag2</a>
                    <a href="#">#tag3</a>
                </div>
            </div>
        </div>
    </div>
</section>
