@{
    ViewData["Title"] = "Nueva Noticia";
}

<div class="text-center">
    <h1 class="display-4">Gnexx Publicar Noticia (Solo administradores)</h1>
    <p>Aqui ira el formulario de publicacion de nuevas noticias para la seccion de noticias.</p>
</div>