@{
    ViewData["Title"] = "Actualización de Noticia";
}

<div class="text-center">
    <h1 class="display-4">Actuallización de noticia tal </h1>
    <p>Aqui ira el formulario de actualizacion de noticias</p>
</div>