@{
    ViewData["Title"] = "Comunidad de gamers";
}

<aside>

</aside>

<div class="container">
    <div class="section section-news-header">
        <div class="section-title">
            <h4>Noticias Recientes</h4>
        </div>
        <div class="news">
            <div class="news-header-principal">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2022/5/30/-1653920377576532019352.jpg" alt="#">
                <div class="news-description">
                    <h2 class="post-title">Torneo de eSports RD: Desafiando a los Mejores</h2>
                    <p class="post-description">¡Prepárate para la emoción de la competencia en el torneo de eSports más grande de la República Dominicana! Descubre quiénes se enfrentarán y cómo puedes ser parte de la acción.</p>
                    <p class="date-publish">Octubre 15, 2023</p>
                </div>
            </div>
            <ul class="news-header-others">
                <li class="news-header-card">
                    <img src="https://i.ytimg.com/vi/Yo_XrCY8S4o/maxresdefault.jpg" alt="#">
                    <div class="news-description">
                        <h5 class="post-title">Desafiando los límites: Campeonato Nacional de eSports</h5>
                        <p class="post-description">Los mejores jugadores se reunirán en un enfrentamiento épico. Descubre las estrategias, los momentos destacados y quién se corona como el campeón nacional.</p>
                        <p class="date-publish">Abril 5, 2023</p>
                    </div>
                </li>
                <li class="news-header-card">
                    <img src="https://a.espncdn.com/photo/2017/0504/r206710_2_1600x800cc.jpg" alt="#">
                    <div class="news-description">
                        <h5 class="post-title">Dominando el Teclado: Claves para el Éxito en eSports</h5>
                        <p class="post-description">Explora las decisiones detrás de los diseños estratégicos en este torneo de eSports. Aprende cómo los colores y la creatividad se combinan para alcanzar la victoria.</p>
                        <p class="date-publish">Julio 12, 2023</p>
                    </div>
                </li>
                <li class="news-header-card">
                    <img src="https://th.bing.com/th/id/OIP.tA-IggSA8RDDa7hnTLMFaQHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" alt="#">
                    <div class="news-description">
                        <h5 class="post-title">Rumbo a la Cima: Competencia Intensa en eSports</h5>
                        <p class="post-description">Los jugadores más talentosos se enfrentarán para alcanzar la cima. Sumérgete en la acción, descubre las historias detrás de los competidores y vive la intensidad de la competencia.</p>
                        <p class="date-publish">Noviembre 20, 2023</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section tournaments">
        <div class="title-container">
            <div class="section-title">
                <h4>Torneos</h4>
            </div>
            <div class="swipe-controller">
                <button class="button-left">
                    <box-icon name='chevron-left' color='#ffffff'></box-icon>
                </button>
                <button class="button-right">
                    <box-icon name='chevron-right' color='#ffffff'></box-icon>
                </button>
            </div>
        </div>
        <div class="tournaments-container">
            <ul class="cards">
                <li class="card">
                    <img src="https://a.espncdn.com/photo/2017/0504/r206710_2_1600x800cc.jpg" alt="#">
                    <div class="card-title">
                        <p>Campeonato Nacional de Battle Royale 2023 - Fortnite</p>
                    </div>
                    <div class="card-transmition-description">
                        <p>Próximamente</p>
                    </div>
                </li>
                <li class="card">
                    <img src="https://i.ytimg.com/vi/QzX-o9DdSik/maxresdefault.jpg" alt="#">
                    <div class="card-title">
                        <p>Torneo Nacional - League of Legends</p>
                    </div>
                    <div class="card-transmition-description">
                        <box-icon name='twitch' type='logo' color='#ffffff'></box-icon>
                        <p>En vivo ahora en Twitch</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ad" id="ad-news1">
        <button class="ad-close-button" onclick="toggleDropdownOptions('ad-news')">
            <box-icon name='x' color='#ffffff'></box-icon>
        </button>
        <img src="https://storage.googleapis.com/portalgaming-wp-media-hn/2020/08/5_slider-2-web-1110X460-OK-1024x424.png" alt="Sponsor Ad">
    </div>
    <div class="banner">
        <img src="https://s3-alpha-sig.figma.com/img/de64/2f35/d6765cb6e8540682d0471452043e0f24?Expires=1703462400&Signature=XtQOLARunmgFpJTa9CxDMdkBRfq8gRhZ3skOYeGm9dhTX2HuWR~VLI3QFeCfMcOYbG0L3EPoogENeSlOezYcQDG16FZolBF~x5Jzm2Zr4oJ3ypvUszrwBek-ziwki2mC1LHJAuXzu6Po1JwmGlaxK9BqEQEUQSC9XG7ieNRp-jratckxyTm7FQxOtoSOcepKr62Sgk6nDscSR-4tkM~RutJmp8KQGYhwsyJZq2BxWKrc-PgPsb-bgA2fIw1vzL33Znp3unTYmIuvRmEiOPdQ-6hrXgsM4pzhVkgmW-uF3aH9fleQOLcoZhRynwSbNAgy941f2U~233MkCg49WTXCPw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="#">
    </div>
</div>