@{
    ViewData["Title"] = "Comunidad de gamers";
}

<a class="button mb-2" asp-area="" asp-controller="Community" asp-action="Create">Publicar en comunidad</a>

<div class="text-center">
    <h1 class="display-4">Gnexx Community</h1>
    <p>Aqui van publicaciones de usuarios gamers</p>
</div>