@{
    ViewData["Title"] = "Comunidad | Nueva publicación";
}

<div class="text-center">
    <h1 class="display-4">Gnexx Comunidad formulario de post</h1>
    <p>Formulario de publicar en la seccion de comunidad</p>
</div>