* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: linear-gradient(180deg, #0E1719 0%, #090F11 100%);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    background: #0E1719;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

    .navbar .container {
        display: flex;
        padding: 0px 8px;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-bottom: 0.5px solid rgba(227, 227, 227, 0.1);
    }

        .navbar .container .menu-options,
        .navbar .container .configuration-options {
            display: flex;
            width: 174px;
            align-items: center;
            gap: 9px;
            align-self: stretch;
        }

            .navbar .container .menu-options a.option,
            .navbar .container .configuration-options a.option {
                display: flex;
                width: 52px;
                height: 52px;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 50%;
                opacity: 0.5;
                transition: all 200ms ease-out;
            }

                .navbar .container .menu-options a.option:hover,
                .navbar .container .configuration-options a.option:hover {
                    opacity: 1;
                    transform: scale(1.05);
                    transition: all 200ms ease-in;
                }

        .navbar .container .configuration-options {
            justify-content: flex-end;
        }

        .navbar .container img.logo {
            width: 130px;
            height: 41px;
            background-size: cover;
            background-repeat: no-repeat;
            transition: transform 150ms ease-out;
        }

            .navbar .container img.logo:hover {
                transform: scale(1.1);
                transition: transform 150ms ease-in;
            }

    .navbar .logo img {
        width: 110px;
        height: 35px;
        flex-shrink: 0;
    }

@media (max-width: 680px) {
    .navbar .logo {
        display: none;
    }
}

.navbar .search-bar {
    display: flex;
    width: 653px;
    height: 33px;
    padding: 3px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;
}

    .navbar .search-bar box-icon {
        width: 16px;
        height: 16px;
    }

    .navbar .search-bar .search {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border: none;
        background-color: transparent;
    }

        .navbar .search-bar .search::-moz-placeholder {
            color: #6C5D5D;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 111.187%;
        }

        .navbar .search-bar .search::placeholder {
            color: #6C5D5D;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 111.187%;
        }

.navbar .nav-links-list {
    display: block;
    padding: 0;
    display: flex;
    gap: 20px;
    transition: all 400ms;
}

@media (max-width: 680px) {
    .navbar .nav-links-list {
        display: none;
    }
}

.navbar .nav-links-list .link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Rubik;
    font-weight: 200;
    color: white;
    transition: all 400ms;
}

    .navbar .nav-links-list .link:hover {
        color: #0E693E;
    }

.navbar .nav-links-list .active {
    color: #1A7048;
}

.navbar .nav-logo {
    display: none;
}

    .navbar .nav-logo img {
        width: 93px;
        height: 29px;
        flex-shrink: 0;
    }

@media (max-width: 680px) {
    .navbar .nav-logo {
        display: block;
    }
}

.navbar .selector {
    box-sizing: border-box;
    color: white;
    position: relative;
    transition: all 400ms;
    padding: 10px;
    border-radius: 5px;
}

    .navbar .selector .profile {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }

        .navbar .selector .profile .profile-btn {
            display: flex;
            width: 142px;
            height: 100%;
            padding: 0px 13px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border: none;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.1);
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }

        .navbar .selector .profile .dropdown {
            display: none;
            position: absolute;
            width: 142px;
            background-color: #333;
            list-style: none;
            border: none;
            padding: 0;
            margin: 0;
        }

            .navbar .selector .profile .dropdown li {
                padding: 8px 12px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                .navbar .selector .profile .dropdown li a {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                }

                .navbar .selector .profile .dropdown li:hover {
                    background-color: #555;
                }

        .navbar .selector .profile:hover .dropdown {
            display: block;
        }

    .navbar .selector .selector-button {
        display: flex;
        cursor: pointer;
        gap: 10px;
        align-items: center;
    }

        .navbar .selector .selector-button .arrow {
            transition: all 400ms;
        }

        .navbar .selector .selector-button p {
            margin: 0;
        }

        .navbar .selector .selector-button i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

@media (max-width: 680px) {
    .navbar .selector .selector-button p {
        display: none;
    }
}

.navbar .selector .arrow-up {
    transform: rotate(180deg);
}

.navbar .selector .options {
    display: none;
    opacity: 0;
    padding: 10px;
    right: 0;
    position: absolute;
    display: grid;
    margin: 0;
    list-style-type: none;
    background-color: #121315;
    border-radius: 5px;
    transition: all 400ms;
    transform: translateY(-20px);
}

@media (max-width: 680px) {
    .navbar .selector .options {
        left: 0;
        width: 150px;
    }
}

.navbar .selector .options .option {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: all 400ms;
    align-items: center;
}

    .navbar .selector .options .option:hover {
        background-color: #3c3f45;
    }

.navbar .selector .expanded {
    display: block;
    opacity: 1;
    transform: translateY(25px);
}

.navbar .selector:hover {
    background-color: #3c3f45;
}

.navbar .selector:active {
    transform: scale(0.8);
    background-color: #3c3f45;
}

.navbar .side-bar {
    position: absolute;
    display: block;
}

    .navbar .side-bar .nav-side-bar-button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 25px;
        width: 62px;
    }

        .navbar .side-bar .nav-side-bar-button:hover {
            color: #0E693E;
        }

    .navbar .side-bar .nav-side-bar {
        overflow-y: auto;
        display: flex;
        transform: translateX(-110%);
        position: absolute;
        width: 300px;
        height: 100vh;
        z-index: 3;
        background-color: #121315;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 400ms;
    }

        .navbar .side-bar .nav-side-bar::-webkit-scrollbar {
            width: 8px;
        }

        .navbar .side-bar .nav-side-bar::-webkit-scrollbar-thumb {
            background-color: rgba(119, 129, 119, 0.4588235294);
            /* color del fondo de la barra de desplazamiento */
            border-radius: 6px;
            /* esquinas redondeadas de la barra de desplazamiento */
        }

        .navbar .side-bar .nav-side-bar::-webkit-scrollbar-corner {
            background-color: #ffffff;
        }

        .navbar .side-bar .nav-side-bar .nav-side-bar-close-button {
            position: absolute;
            top: 17px;
            left: 50px;
            background-color: rgba(240, 248, 255, 0);
            border: none;
            color: white;
            font-size: 25px;
            transition: color 400ms;
        }

            .navbar .side-bar .nav-side-bar .nav-side-bar-close-button box-icon {
                width: 32px;
                height: 32px;
            }

            .navbar .side-bar .nav-side-bar .nav-side-bar-close-button:hover {
                color: #0E693E;
            }

            .navbar .side-bar .nav-side-bar .nav-side-bar-close-button:active {
                color: #1A7048;
            }

        .navbar .side-bar .nav-side-bar img {
            margin-left: 30px;
            width: 110px;
            height: auto;
        }

        .navbar .side-bar .nav-side-bar .nav-side-bar-links-list {
            padding: 0px 5px;
            list-style-type: none;
            display: grid;
            margin: 0;
            width: 100%;
            gap: 10px;
        }

            .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container {
                display: flex;
                padding: 16px 19px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;
                align-self: stretch;
            }

                .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .nav-link {
                    width: 100%;
                }

                    .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .nav-link:hover a {
                        transition: all 200ms ease-in-out;
                        background: rgba(255, 255, 255, 0.1);
                        cursor: pointer;
                        color: #FFF;
                    }

                    .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .nav-link a {
                        display: flex;
                        height: 40px;
                        width: 100%;
                        padding: 0px 12px;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 9px;
                        color: #AAABB2;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        transition: al 200ms ease-in-out;
                    }

                        .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .nav-link a box-icon {
                            width: 18px;
                            height: 18px;
                        }

                .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .separator {
                    width: 177px;
                    background-color: transparent;
                    border-bottom: 0.8px solid rgba(176, 149, 255, 0.1);
                }

                .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown {
                    display: flex;
                    padding: 10px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;
                }

                    .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown .dropdown-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        background-color: transparent;
                        color: rgba(104, 104, 104, 0.69);
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: uppercase;
                        border: none;
                        cursor: pointer;
                    }

                    .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown .dropdown-content {
                        flex-direction: column;
                        align-items: flex-start;
                        align-self: stretch;
                    }

                        .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown .dropdown-content .dropdown-item {
                            display: flex;
                            height: 40px;
                            gap: 10px;
                            align-self: stretch;
                            border-radius: 0px 10px 10px 0px;
                            border-left: 0.5px solid #FFF;
                            opacity: 0.4;
                            transition: al 150ms ease-in-out;
                        }

                            .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown .dropdown-content .dropdown-item a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                padding: 0px 12px;
                                color: #FFF;
                                font-family: Inter;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                text-transform: capitalize;
                            }

                            .navbar .side-bar .nav-side-bar .nav-side-bar-links-list .navbar-container .dropdown .dropdown-content .dropdown-item:hover {
                                transition: al 150ms ease-in-out;
                                border-radius: 0px 10px 10px 0px;
                                border-left: 0.5px solid #FFF;
                                background: rgba(255, 255, 255, 0.03);
                                opacity: 1;
                            }

        .navbar .side-bar .nav-side-bar .credits {
            color: white;
            margin-bottom: 20px;
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
        }

@media (max-width: 900px) {
    main[role=main] {
        flex-direction: column-reverse !important;
        padding: 25px 25px !important;
    }
}

@media (max-width: 450px) {
    main[role=main] {
        padding: 16px 16px !important;
    }
}

main[role=main] {
    display: flex;
    padding: 35px 50px;
    align-items: flex-start;
    gap: 40px;
}

    main[role=main] aside {
        display: flex;
        width: 290px;
        flex-direction: column;
        align-items: flex-start;
        gap: 45px;
    }

@media (max-width: 900px) {
    main[role=main] aside .ad {
        display: none;
    }
}

main[role=main] aside .action-card {
    display: flex;
    width: 290px;
    height: 319px;
    padding: 14px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}

main[role=main] aside .ad {
    width: 290px;
    height: 451px;
    flex-shrink: 0;
}

    main[role=main] aside .ad img {
        background: lightgray 50%/cover no-repeat;
        width: 100%;
        height: 100%;
    }

main[role=main] aside .aside-section .section-title box-icon {
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
}

main[role=main] aside .aside-section ul.items {
    overflow: hidden;
    padding: 22px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

    main[role=main] aside .aside-section ul.items li.item {
        display: flex;
        align-items: center;
        gap: 23px;
        align-self: stretch;
    }

        main[role=main] aside .aside-section ul.items li.item .item-imagen {
            width: 115px;
            height: 115px;
            padding: 10px;
            background: linear-gradient(180deg, #EF382A 0%, #AA241A 100%);
            gap: 10px;
        }

            main[role=main] aside .aside-section ul.items li.item .item-imagen img {
                background: rgba(211, 211, 211, 0.181) 50%;
                align-self: stretch;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }

        main[role=main] aside .aside-section ul.items li.item .item-description {
            display: flex;
            padding-bottom: 5px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 6px;
            align-self: stretch;
        }

            main[role=main] aside .aside-section ul.items li.item .item-description h6.name {
                color: #848484;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                align-self: stretch;
            }

            main[role=main] aside .aside-section ul.items li.item .item-description .starts {
                font-size: 12px;
            }

            main[role=main] aside .aside-section ul.items li.item .item-description .prices {
                display: flex;
                align-items: flex-end;
                gap: 3px;
            }

                main[role=main] aside .aside-section ul.items li.item .item-description .prices p.actual-price {
                    color: #434343;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                }

                main[role=main] aside .aside-section ul.items li.item .item-description .prices p.old-price {
                    color: #848484;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-decoration: line-through;
                    text-transform: uppercase;
                }

main[role=main] .container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 55px;
    width: 100%;
    overflow: hidden;
}

    main[role=main] .container .empty-section {
        display: flex;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

        main[role=main] .container .empty-section .empty-section-message {
            display: flex;
            padding: 9px 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

            main[role=main] .container .empty-section .empty-section-message h3 {
                color: #E8E8E8;
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                text-align: center;
            }

            main[role=main] .container .empty-section .empty-section-message p {
                color: #657786;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                text-align: center;
            }

    main[role=main] .container section.news-publish-form, main[role=main] .container section.user-update-form {
        display: flex;
        justify-content: center;
        width: 100%;
    }

        main[role=main] .container section.news-publish-form form, main[role=main] .container section.user-update-form form {
            width: 100%;
            display: flex;
            max-width: 500px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            align-self: stretch;
        }

            main[role=main] .container section.news-publish-form form .text, main[role=main] .container section.user-update-form form .text {
                width: 100%;
            }

                main[role=main] .container section.news-publish-form form .text h3, main[role=main] .container section.user-update-form form .text h3 {
                    color: #E8E8E8;
                    font-family: Inter;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 44px;
                    text-align: center;
                }

                main[role=main] .container section.news-publish-form form .text p, main[role=main] .container section.user-update-form form .text p {
                    color: #657786;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: center;
                }

            main[role=main] .container section.news-publish-form form .user-post-info, main[role=main] .container section.user-update-form form .user-post-info {
                display: flex;
                align-items: center;
                gap: 10px;
            }

                main[role=main] .container section.news-publish-form form .user-post-info .user-info, main[role=main] .container section.user-update-form form .user-post-info .user-info {
                    display: flex;
                    flex-direction: column;
                }

                    main[role=main] .container section.news-publish-form form .user-post-info .user-info h5, main[role=main] .container section.user-update-form form .user-post-info .user-info h5 {
                        color: #E7F2FF;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    main[role=main] .container section.news-publish-form form .user-post-info .user-info select, main[role=main] .container section.user-update-form form .user-post-info .user-info select {
                        display: none;
                        cursor: pointer;
                        background: #242526;
                        border: none;
                        border-radius: 0;
                        color: #657786;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                        main[role=main] .container section.news-publish-form form .user-post-info .user-info select option, main[role=main] .container section.user-update-form form .user-post-info .user-info select option {
                            border-radius: 0;
                            color: rgb(219, 219, 219);
                            padding: 17px 12px;
                        }

                main[role=main] .container section.news-publish-form form .user-post-info .user-imagen, main[role=main] .container section.user-update-form form .user-post-info .user-imagen {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

            main[role=main] .container section.news-publish-form form .fields, main[role=main] .container section.user-update-form form .fields {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

                main[role=main] .container section.news-publish-form form .fields textarea,
                main[role=main] .container section.news-publish-form form .fields input, main[role=main] .container section.user-update-form form .fields textarea,
                main[role=main] .container section.user-update-form form .fields input {
                    border: none;
                    display: flex;
                    height: auto;
                    padding: 7px 10px;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;
                    background-color: transparent;
                    resize: none;
                    color: #cbcbcb;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                    main[role=main] .container section.news-publish-form form .fields textarea::-moz-placeholder, main[role=main] .container section.news-publish-form form .fields input::-moz-placeholder, main[role=main] .container section.user-update-form form .fields textarea::-moz-placeholder, main[role=main] .container section.user-update-form form .fields input::-moz-placeholder {
                        color: #687680;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    main[role=main] .container section.news-publish-form form .fields textarea::placeholder,
                    main[role=main] .container section.news-publish-form form .fields input::placeholder, main[role=main] .container section.user-update-form form .fields textarea::placeholder,
                    main[role=main] .container section.user-update-form form .fields input::placeholder {
                        color: #687680;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    main[role=main] .container section.news-publish-form form .fields textarea::-webkit-scrollbar,
                    main[role=main] .container section.news-publish-form form .fields input::-webkit-scrollbar, main[role=main] .container section.user-update-form form .fields textarea::-webkit-scrollbar,
                    main[role=main] .container section.user-update-form form .fields input::-webkit-scrollbar {
                        width: 8px;
                    }

                    main[role=main] .container section.news-publish-form form .fields textarea::-webkit-scrollbar-thumb,
                    main[role=main] .container section.news-publish-form form .fields input::-webkit-scrollbar-thumb, main[role=main] .container section.user-update-form form .fields textarea::-webkit-scrollbar-thumb,
                    main[role=main] .container section.user-update-form form .fields input::-webkit-scrollbar-thumb {
                        background-color: rgba(119, 129, 119, 0.7764705882);
                        /* color del fondo de la barra de desplazamiento */
                        border-radius: 6px;
                        /* esquinas redondeadas de la barra de desplazamiento */
                    }

                    main[role=main] .container section.news-publish-form form .fields textarea::-webkit-scrollbar-corner,
                    main[role=main] .container section.news-publish-form form .fields input::-webkit-scrollbar-corner, main[role=main] .container section.user-update-form form .fields textarea::-webkit-scrollbar-corner,
                    main[role=main] .container section.user-update-form form .fields input::-webkit-scrollbar-corner {
                        background-color: #ffffff;
                    }

                main[role=main] .container section.news-publish-form form .fields input, main[role=main] .container section.user-update-form form .fields input {
                    display: flex;
                    height: 48px;
                    padding: 0px 10px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;
                    background-color: transparent;
                    border-radius: 6px;
                    border: 1px solid #333;
                    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
                }

            main[role=main] .container section.news-publish-form form .publish-btn, main[role=main] .container section.user-update-form form .publish-btn {
                display: flex;
                padding: 11px 42px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 8px;
                border: none;
                background: linear-gradient(0deg, #0866FF 0%, #0866FF 100%), linear-gradient(180deg, #71031D 0%, #880A0A 100%);
                color: #FFF;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;
            }

                main[role=main] .container section.news-publish-form form .publish-btn:hover, main[role=main] .container section.user-update-form form .publish-btn:hover {
                    background: linear-gradient(0deg, #2b7cff 0%, #4d91ff 100%), linear-gradient(180deg, #71031D 0%, #880A0A 100%);
                }

.publish-form {
    display: flex;
    width: 100%;
    padding: 22px 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: #141B1D;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.05);
}

    .publish-form .action-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

.publish-form .action-form .user-post-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .publish-form .action-form .user-post-info img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        background: lightgray 50% / no-repeat;
    }

    .publish-form .action-form .user-post-info .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

        .publish-form .action-form .user-post-info .user-info span {
            color: #E7F2FF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .publish-form .action-form .user-post-info .user-info p {
            color: #657786;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

.publish-form .action-form .publish-button {
    display: flex;
    height: 46px;
    padding: 11px 17px;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 72px;
    background: rgba(217, 217, 217, 0.2);
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

    .publish-form .action-form .publish-button:hover {
        background: rgba(217, 217, 217, 0.513);
        transition: all 250ms ease-in-out;
    }

    main[role=main] .container .section.publications {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 25px;
        flex: 1 0 0;
    }

        main[role=main] .container .section.publications .news-publication {
            display: flex;
            width: 100%;
            padding: 24px 28px 20px 28px;
            flex-direction: column;
            align-items: center;
            gap: 14px;
            border-radius: 14px;
            background: #131B1D;
        }

            main[role=main] .container .section.publications .news-publication .heading-post {
                width: 100%;
                display: flex;
                padding: 3px 0px;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
            }

                main[role=main] .container .section.publications .news-publication .heading-post .user-info {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                    main[role=main] .container .section.publications .news-publication .heading-post .user-info img.image {
                        width: 48px;
                        height: 48px;
                        border-radius: 11px;
                        background: lightgray 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 3px;
                    }

                        main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication h5.fullname {
                            color: #E8E8E8;
                            font-family: Inter;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                        }

                        main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info {
                            display: flex;
                            align-items: flex-end;
                            gap: 5px;
                            flex-wrap: wrap;
                        }

                            main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info .place {
                                display: flex;
                                align-items: center;
                                gap: 3px;
                            }

@media (max-width: 450px) {
    main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info .place {
        display: none;
    }
}

main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info .place box-icon {
    width: 16px;
    height: 16px;
}

main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info .place p {
    color: #BBB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

main[role=main] .container .section.publications .news-publication .heading-post .user-info .about-user-publication .related-info p.time-ago {
    color: #657786;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

main[role=main] .container .section.publications .news-publication .heading-post .menu-cont {
    position: relative;
}

    main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .menu-action-button {
        background-color: transparent;
        border: none;
        display: flex;
        padding: 11px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 150ms ease-in-out;
        cursor: pointer;
    }

        main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .menu-action-button:hover {
            opacity: 1;
            background-color: #1f2d30;
            border-radius: 50%;
            transition: all 150ms ease-in-out;
        }

        main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .menu-action-button box-icon {
            width: 22px;
            height: 22px;
        }

    main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu {
        display: none;
        position: absolute;
        right: 0px;
        top: 44px;
        width: 182px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
        background: #1D2427;
    }

        main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu li {
            width: 100%;
        }

            main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu li button,
            main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu li a {
                width: 100%;
                cursor: pointer;
                display: flex;
                padding: 14px 20px;
                align-items: center;
                gap: 10px;
                border: none;
                background-color: transparent;
                color: #FFF;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: all 150ms ease-in-out;
            }

                main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu li button:hover,
                main[role=main] .container .section.publications .news-publication .heading-post .menu-cont .dropdown-menu li a:hover {
                    transition: all 150ms ease-in-out;
                    background: rgba(255, 255, 255, 0.05);
                }

main[role=main] .container .section.publications .news-publication .content-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

@media (max-width: 450px) {
    main[role=main] .container .section.publications .news-publication .content-post p.title {
        font-size: 14px !important;
        line-height: 20px !important;
    }
}

main[role=main] .container .section.publications .news-publication .content-post p.title {
    align-self: stretch;
    color: #ABB2B9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

main[role=main] .container .section.publications .news-publication .content-post img.publication-image {
    width: 100%;
    height: auto;
    background: lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

main[role=main] .container .section.publications .news-publication .content-post a.url-source {
    align-self: stretch;
    color: #108AEF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

main[role=main] .container .section.publications .news-publication ul.action-bar-items {
    display: flex;
    padding: 8px 0px;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}

    main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item {
        opacity: 0.5;
        transition: all 150ms ease-in-out;
    }

        main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item:hover {
            opacity: 1;
            transition: all 150ms ease-in-out;
        }

            main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item:hover a {
                background: #1f2d30;
            }

@media (max-width: 570px) {
    main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item a p {
        display: none;
    }
}

main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item a {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 18px;
    padding: 10px 14px;
}

    main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item a box-icon {
        width: 24px;
        height: 24px;
    }

    main[role=main] .container .section.publications .news-publication ul.action-bar-items li.item a p {
        color: #ffffff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.422);
    z-index: 10;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupDeletePost {
    width: 359px;
    height: auto;
    padding: 24px 23px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    border-radius: 15px;
    border: 2px solid rgba(85, 85, 85, 0.1137254902);
    background: #242526;
    box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(4.4000000954px);
    backdrop-filter: blur(4.4000000954px);
    position: absolute;
    left: calc(50% - 179px);
    top: calc(50% - 110px);
    z-index: 1000;
}

    #popupDeletePost .heading {
        display: flex;
        padding: 4px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

        #popupDeletePost .heading img {
            width: 100px;
            height: 100px;
        }

        #popupDeletePost .heading p {
            align-self: stretch;
            color: #ABABAB;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.1px;
        }

    #popupDeletePost .popup-buttons {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

        #popupDeletePost .popup-buttons button {
            display: flex;
            padding: 11px 42px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
            border-radius: 8px;
            background-color: #0866FF;
            border: none;
            cursor: pointer;
            transition: all 250ms ease-in-out;
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

            #popupDeletePost .popup-buttons button:hover {
                background-color: #075ce5;
            }

        #popupDeletePost .popup-buttons .button-cancel {
            background-color: #FF0834;
        }

            #popupDeletePost .popup-buttons .button-cancel:hover {
                transition: all 250ms ease-in-out;
                background-color: #e30730;
            }

.navigation-bar {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

    .navigation-bar .navbar-container {
        display: flex;
        padding: 0px 8px;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-bottom: 0.5px solid rgba(227, 227, 227, 0.1);
    }

        .navigation-bar .navbar-container .logo-cont {
            display: flex;
            width: 182px;
            height: 29px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

            .navigation-bar .navbar-container .logo-cont img {
                width: 93px;
                height: 29px;
                flex-shrink: 0;
            }

        .navigation-bar .navbar-container .about-user {
            display: flex;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
        }

.sidebar {
    display: none;
    width: 215px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-right: 0.5px solid rgba(227, 227, 227, 0.1);
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

.sidebar .navbar-container {
    display: flex;
    padding: 16px 19px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

    .sidebar .navbar-container .nav-link {
        width: 100%;
    }

        .sidebar .navbar-container .nav-link:hover a {
            transition: all 200ms ease-in-out;
            background: rgba(255, 255, 255, 0.1);
            color: #FFF;
        }

        .sidebar .navbar-container .nav-link a {
            display: flex;
            height: 40px;
            width: 100%;
            padding: 0px 12px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 9px;
            color: #AAABB2;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            transition: al 200ms ease-in-out;
        }

            .sidebar .navbar-container .nav-link a box-icon {
                width: 16px;
                height: 16px;
            }

    .sidebar .navbar-container .separator {
        width: 177px;
        background-color: transparent;
        border-bottom: 0.8px solid rgba(176, 149, 255, 0.1);
    }

    .sidebar .navbar-container .dropdown {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

        .sidebar .navbar-container .dropdown .dropdown-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            background-color: transparent;
            color: rgba(104, 104, 104, 0.69);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
        }

        .sidebar .navbar-container .dropdown .dropdown-content {
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }

            .sidebar .navbar-container .dropdown .dropdown-content .dropdown-item {
                display: flex;
                height: 40px;
                gap: 10px;
                align-self: stretch;
                border-radius: 0px 10px 10px 0px;
                border-left: 0.5px solid #FFF;
                opacity: 0.4;
                transition: al 150ms ease-in-out;
            }

                .sidebar .navbar-container .dropdown .dropdown-content .dropdown-item a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0px 12px;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: capitalize;
                }

                .sidebar .navbar-container .dropdown .dropdown-content .dropdown-item:hover {
                    transition: al 150ms ease-in-out;
                    border-radius: 0px 10px 10px 0px;
                    border-left: 0.5px solid #FFF;
                    background: rgba(255, 255, 255, 0.03);
                    opacity: 1;
                }
/*# sourceMappingURL=styles-home.css.map */
