@{
    ViewData["Title"] = "Gnexx | Reestablecer contraseña";
}

<div class="text-center">
    <h1 class="display-4">Gnexx Forgot Password</h1>
    <p>Formulario de olvido de contraseña para reestablecerla</p>
</div>