@model Gnexx.Services.UserIdentity.ForgotPasswordVM
@{
    ViewData["Title"] = "Gnexx | Reestablecer contraseña";
}

@*<div class="text-center">
    <h1 class="display-4">Gnexx Forgot Password</h1>
    <p>Formulario de olvido de contraseña para reestablecerla</p>
</div>*@
@{
    if (@Model.HasError)
    {
        <h5>@Model.Error</h5>
    }
}

<div class="auth-main">
    <div class="heading">
        <img src="~/assets/img/register-logo.png" alt="Logo">
        <a asp-controller="Auth" asp-action="Index">Regresar</a>
    </div>

    <div class="form-container" id="loginsect">
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
            <div class="section" id="section1">
                <h1>Escriba su <span>Correo Electrónico</span></h1>
                <div class="form-fields">
                    <div class="fields">
                        <div class="input-label">
                            <label asp-for="Email">Correo Electrónico</label>
                            <input type="email" asp-for="Email" id="Email">
                        </div>
                    </div>
                    <button asp-controller="Auth" asp-action="ForgotPassword" type="submit">Enviar</button>
                </div>
                <div class="auth-option">
                    Ya estas registrado? <a asp-controller="Auth" asp-action="Index">Inicia Sesión</a>
                </div>
            </div>
        </form>
    </div>

</div>
<img src="~/assets/img/auth-background-imagen.png" alt="background imagen">
