@model Gnexx.Services.Users.LoginVM
@{
    ViewData["Title"] = "Gnexx | Iniciar Sesión";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="auth-main">
    <div class="form-container" id="loginsect">
        @if (Model.HasError)
        {
            <div class="alert alert-danger">
                @Model.Error
            </div>
        }
        <form asp-controller="Auth" asp-action="Index" method="post">
            <div class="section" id="section1">
                <h1><span>Inicia sesión</span> para continuar</h1>
                <div class="form-fields">
                    <div class="fields">
                        <div class="input-label">
                            <label asp-for="Email">Email</label>
                            <input type="text" asp-for="Email" id="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="input-label">
                            <label asp-for="Password">Contraseña</label>
                            <input type="password" asp-for="Password" id="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="forgot-pass">
                            <a asp-controller="Auth" asp-action="ForgotPassword">Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    @*<button type="submit">Iniciar Sesión</button>*@
                    <button type="submit" class="button-register" asp-controller="Auth" asp-action="Index">Iniciar Sesión</button>
                </div>
                <div class="auth-option">
                    No tienes una cuenta creada? <a asp-controller="Auth" asp-action="Register">Registrate aqui!</a>
                </div>
            </div>
        </form>
    </div>

</div>
<img src="~/assets/img/auth-background-imagen.png" alt="background imagen">
