@model Gnexx.Services.UserIdentity.LoginVM
@{
    ViewData["Title"] = "Gnexx | Iniciar Sesión";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<form action="" method="post">
    <div class="heading">
        <h2>Inicio de sesión</h2>
        <p>Si aun no tienes una cuenta registrada que esperas? <a asp-controller="Auth" asp-action="Register">registrate ahora!</a></p>
    </div>

    <div class="form-fields">
        <div class="input-data">
            <input type="text" asp-for="Email" name="email" id="email" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="Email">Correo Electronico</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-data">
            <input type="password" asp-for="Password" name="password" id="password" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="Password">Contraseña</label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="forgot-password">
            <a asp-controller="Auth" asp-action="ForgotPassword">Olvido su contraseña?</a>
        </div>
    </div>

    <button type="submit">Iniciar Sesión</button>

    <div class="other-options">
        <p>O continua con</p>
        <ul class="options">
            <li><a href="#"><img src="#" alt="#"></a></li>
            <li><a href="#"><img src="#" alt="#"></a></li>
            <li><a href="#"><img src="#" alt="#"></a></li>
        </ul>
    </div>
</form>