@model Gnexx.Services.Users.ResetPasswordVM

<div class="card-body">

    @if (Model.HasError)
    {
        <div role="alert">
            <p>@Model.Error</p>
            <button type="button" ></button>
        </div>
    }
    <form method="post" asp-controller="Auth" asp-action="ResetPassword">

        <div>
            <label asp-for="Email" >Correo: </label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>


        <div>
            <label asp-for="Password" >Contraseña: </label>
            <input asp-for="Password"  />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword" >Confirmar contraseña: </label>
            <input asp-for="ConfirmPassword"  />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

            <input type="hidden" asp-for="Token" />

            <button type="submit">Guardar</button>
            <a asp-controller="Auth" asp-action="Index">Volver atras</a>

        </form>
</div>
